.myBtn {
    padding: 5px 15px;
    color: rgb(245, 235, 235);
    font-size: 14px;
    background: rgb(0, 44, 102);
    border: 2px solid rgb(0, 44, 102);
    cursor: pointer;
    border-radius: 7px;
    margin: 5px;
}

.myBtn:hover {
    border: 2px solid rgb(252, 252, 252);
}

.myBtn:active{
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(1px);
}